os: linux
sudo: required
language: generic

install:
  - sudo apt-get update -qq
# - sudo apt-get install sdcc
  - sudo apt-get install -y curl subversion build-essential flex bison libboost-dev texinfo stx-btree-dev zip netcat gawk python2.7
  - mkdir sdcc-code -p
  - cd sdcc-code
  - svn checkout svn://svn.code.sf.net/p/sdcc/code/trunk/sdcc@10040
  - cd sdcc
  - ./configure --disable-mcs51-port
                --disable-z80-port
                --disable-z180-port
                --disable-r2k-port
                --disable-r3ka-port
                --disable-gbz80-port
                --disable-tlcs90-port
                --disable-ds390-port
                --disable-ds400-port
                --disable-pic14-port
                --disable-pic16-port
                --disable-hc08-port
                --disable-s08-port
                --disable-ucsim
                --disable-non-free
  - make -s
  - sudo make install -s
  - cd ..
  - cd ..
  - rm -Rf sdcc-code
  - sdcc --version

before_script:
  - wget https://github.com/stateos/StateOS/archive/master.zip
  - unzip -q master.zip
  - mv -T StateOS-master/StateOS/kernel/ StateOS/kernel/
  - rm -r StateOS-master

script: make all SDCC= -f makefile.sdcc
